/* css pour le projet 2 de la formation de
 * developpeur web de OpenClassrooms
 *
 * Projet Reservia
 *
 * créé le 21/06/2021
 * par olivier
 *
 */

/*todo mettre en forme le debut du css*/

/* Regles générales*/

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
url('Raleway-Italic-VariableFont_wght.ttf');
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.main {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*couleurs de la maquette */

.bleu {
    color: #0065FC;
}

.clair {
    color: #DEEBFF;
}

.gris {
    color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    list-style-type: none;
}

p {
    margin: 5px 0 5px 0;
}

h3 {
    margin: 18px 0 0 0;
}

/*Règles du header*/

header {
    margin: 0 30px 0 30px;
    display: flex;
    align-content: stretch;

}

.logo {
    flex-grow: 1;
}

.logo img {
    min-width: 100px;
}

nav, .inscription {
    display: flex;
    align-content: stretch;
}

nav a, .inscription a {
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.active {
    margin-top: 0;
    border-top: 1px #0065FC solid;
}

.inscription {
    display: flex;
    align-content: stretch;
    font-weight: bold;
}

/* paramètres de le section de recherche*/

.barre {
    margin: 20px 30px 20px 30px;
}

.formulaire {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.map {
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

#recherche {
    border: 1px #F2F2F2 solid;
    padding: 10px;
    font-weight: bold;
}

.bouton {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border: 1px #0065FC solid;
    border-radius: 0 10px 10px 0;
}

.i {
    border-radius: 10px;
    color: white;
}

.ligne {
    display: flex;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.normal {
    padding: 10px 10px 10px 0;
    margin-right: 5px;
}

.filtre {
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    margin: 5px 10px 5px 10px;
}

.filtre a {
    padding: 10px 15px 10px 0;
}

.filtre i {
    width: 20px;
    border: 1px #DEEBFF solid;
    border-radius: 20px;
    background-color: #DEEBFF;
    padding: 10px;
    margin-right: 10px;
}

.centre i {
    padding: 10px 5px 10px 12px;
}

.filtre a:hover {
    background-color: #DEEBFF;
    transition: all 1s ease;
    border: 1px blue solid;
    border-radius: 20px;
}

/*Règles pour la partie hébergement*/

.hebergement {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

.etiquette, .large, .grande, .moyenne, .petite {
    box-shadow: 2px 2px 20px 0 darkgray;
}

#principale {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergement h3 {
    margin-left: 30px;
    margin-right: 30px;
}

.afficherPlus {
    margin: 20px 0 30px 30px;
    font-weight: bold;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
    /*todo a modifer pour les autres ponts d'arret. Ici valable sur les très grand écran*/
    justify-content: space-between;
}

.etiquette {
    width: 28%;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}

.etiquette p, h4 {
    margin: 5px 10px 5px 10px;
}

.etiquette i:nth-child(4) {
    margin: 0 0 0 10px;
}

.etiquette img {
    width: 100%;
    /*height: 100%; todo a voir si utie -> il semble que ça fonctionne pour mon probleme de l'image du panier*/
    max-height: 130px;
    min-height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}

.haute {
    height: 100%;
}

/*Règles concernant les logements "populaires"*/

.populaires {
    width: 28%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.populaires h3 {
    display: flex;
    justify-content: space-between;
}

.populaires p {
    margin-left: 10px;
    margin-right: 10px;
}

.pile {
    margin: 30px;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large {
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.large a {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.large img {
    width: 40%;
    height: 150px;
    max-height: 200px; /*todo a voir ce que ça donne*/
    object-fit: cover;
    object-position: center;
    border-radius: 15px 0 0 15px;
}

/*Règles pour la partie "activités"*/

#activite {
    margin: 30px;
}

.diaporama {
    display: flex;
    justify-content: space-between;
}

.diaporama img {
    /*width: 300px;*/
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.diaporama p {
    font-weight: bold;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 0 5px 15px;
    z-index: 1;
    background-color: white;
    height: 30px;
    width: 100%; /*100% si % sinon width -15px*/
}

.grande, .double {
    width: 23%;
}

.double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grande, .moyenne, .petite {
    /*width: 100%;*/
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}


/*todo demander si pour faire propre je rogne les coin de p et img*/
.grande img {
    height: 460px;
}

.moyenne img {
    height: 260px;
}

.petite img {
    height: 150px;
}

/*todo à modifier (je laisse en attendant d'y arriver)*/
img {
    width: 10%;
}

/*Règles du "footer"*/

footer {
    width: 100%;
    margin: 30px 0 30px 0;
    background-color: #F2F2F2;
    display: flex;
}

.pied {
    width: 30%;
    margin: 30px;
}

.pied p {
    font-weight: bold;
}

.pied li {
    margin-top: 5px;
}

/* Rappel sur les media queries :
 Small devices (landscape phones, 576px and up)
 @media (min-width: 576px) { ... }

 Medium devices (tablets, 768px and up)
 @media (min-width: 768px) { ... }

 Large devices (desktops, 992px and up)
 @media (min-width: 992px) { ... }

 Extra large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { ... }
 */

/* pour les tablettes et écranmoyen jusqu'a 1200px*/
@media (max-width: 1427px) {


    .etiquette{
        width: 27%;
    }

    .pile {
        justify-content: space-around;
    }
}

@media (max-width: 1216px) {
    .etiquette {
        width: 25%;
    }
}

@media (max-width: 991px) {

    .etiquette {
        width: 40%;
    }


    .large img {
        height: 175px;
    }
}

@media (max-width: 852px) {

    .ligne {
        flex-wrap: wrap;
        justify-content: space-around; /*todo a modifier ?*/
    }
}

/*todo passage à 1 image à 802px voir si passage à la maquette Iphone ou si je fais d'autre breakpoint*/
/*todo voir aussi le comportement des images de la section populaire*/


