/* css pour le projet 2 de la formation de
 * developpeur web de OpenClassrooms
 *
 * Projet Reservia
 *
 * créé le 21/06/2021
 * par olivier
 *
 */

/*todo mettre en forme le debut du css*/

/* Regles générales*/
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-VariableFont_wght.ttf');
         url('Raleway-Italic-VariableFont_wght.ttf');
}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*couleurs de la maquette */
.bleu {
    color: #0065FC;
}
.clair{
    color: #DEEBFF;
}
.gris {
    color: #F2F2F2;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}
p {
    margin: 5px 0 5px 0;
}

h3 {
    margin: 18px 0 0 0;
}

/*Règles du header*/
header {
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;

}

.logo {
    flex: 2;
    /*background-color: #F2F2F2;*/
}

.logo img {
    min-width: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex: 1;
    /*background-color: #0065FC;*/

}

.active {
    margin-top: 0;
    border-top: 1px #0065FC solid;
}

.inscription {
    font-weight: bold ;
    margin: 20px;
}

/* paramètres de le section de recherche*/
.barre {
    margin: 20px 30px 20px 30px;
}

.formulaire {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.map {
    background-color: #F2F2F2;
    border: 1px #F2F2F2 solid;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

#recherche {
    border: 1px #F2F2F2 solid;
    padding: 10px;
    font-weight: bold;
}

.bouton {
    background-color: #0065FC;
    color: white;
    padding: 10px;
    border: 1px #0065FC solid;
    border-radius: 0 10px 10px 0;
}

.i {
    /*border: 1px #F2F2F2 solid;*/
    border-radius: 10px;
    color: white;
}

.ligne {
    display: flex;
    list-style-type: none;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

.normal {
    padding: 10px 10px 10px 0;
    margin-right: 5px;
}

.filtre {
    padding-right: 10px;
    border: 1px #F2F2F2 solid;
    border-radius: 20px;
    margin: 0 10px 0 10px;
}

.filtre i {
    border: 1px #DEEBFF solid;
    border-radius: 20px;
    background-color: #DEEBFF;
    padding: 10px;
    margin-right: 10px;
}
/*todo reste à faire le survol*/

/*Règles pour la partie hébergement*/
.hebergement {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}

#principale {
    width: 70%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.hebergement h3 {
    margin-left: 30px;
}

.afficherPlus {
    margin: 20px 0 30px 30px;
    font-weight: bold;
}

.galerie{
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 0 10px;
    /*todo a modifer pour les autres ponts d'arret. Ici valable sur les très grand écran*/
    justify-content: space-between;


}

.etiquette {
    width: 28%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}

/*.crop {
    width: 275px;
    height: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}*/

.etiquette p, h4 {
    margin: 5px 10px 5px 10px;
}

.etiquette i:nth-child(4) {
    margin: 0 0 0 10px;
}

.etiquette img {
    width: 100%;
    max-height: 130px;
    min-height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}

/*Règles concernant les logements "populaires"*/
.populaires {
    width: 28%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.pile {
    margin: 20px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.large {
    display: flex;
    flex-direction: row;
}
.large img {
    width: 50%;
    border-radius: 15px 0 0 15px;
}

/*Règles pour la partie "activités"*/
#activite {
    margin: 0 20px 0 20px;
}

/*todo à modifier (je laisse en attendant d'y arriver)*/
img{
    width: 10%;
}

/*Règles du "footer"*/
footer {
    background-color: #F2F2F2;
}